.main_cont
{
    border:2px solid black;
    border-radius:5px;
    margin: 30px;
    width:700px;
    display:flex;
    align-items: center; 
    justify-content: space-between;
    margin-left:27%;
    
}
.main_cont .cont{
    width:50%
}
.main_cont .btn{
    margin-left: auto; 
    
    
}
.main_cont .btn .btn_in{
    width:100px;
    margin-bottom: 10px;
}
.main_cont .image{
    margin-left: auto;
    padding-right: 10%;
 
}